@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

* {
    
    font-family: 'Poppins', sans-serif;
}

.titulo{
    text-align: center;
    position: relative;
    top: 4%;
}

ion-item{

    position: relative;
    top: 10%;
}

ion-icon{
    width: 100px;
    height: 40px;
    position: relative;
    right: 22px;
    bottom: 18px;
}

a{
    color: black;
}

.boton{
    position: relative;
    top: 380px;
    left: 87px;
}
ion-button.md{
    position: relative;
    top: 380px;
    left: 88px;

}

p{
    font-size: 25px;
}

img{

    width: 210px;
    height: 210px;
    position: relative;
    bottom: 25px;
    left: 65px;
}