@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

* {
    
    font-family: 'Poppins', sans-serif;
}

.titulo{
    text-align: center;
    position: relative;
    top: 4%;
}

ion-item{
    position: relative;
    top: 15%;
}

ion-icon{
    width: 100px;
    height: 40px;
    position: relative;
    right: 22px;
    bottom: 18px;
}

a{
    color: black;
}

ion-card-header.ios {
    display: flex;
    flex-flow: column-reverse;
}

ion-item{

    font-size: 14px;

}

.container-card{
    padding: 2px;

}

ion-fab{
    left: 79%;
    color: black;
}