<ion-content>
  <h1 class="titulo">App Couteau</h1>
  <div class="container-iconos">
    <a href="/genero">
      <ion-icon name="people-sharp" class="people-outline"></ion-icon>
    </a>
    <a href="/edad">
      <ion-icon name="accessibility-sharp" class="accessibility-sharp"></ion-icon>
    </a>
    <a href="/clima">
      <ion-icon name="sunny-sharp" class="sunny-sharp"></ion-icon>
    </a>
    <a href="/universidades">
      <ion-icon name="book-sharp" class="book-sharp"></ion-icon>
    </a>
    <a href="/contratacion">
      <ion-icon name="briefcase-sharp" class="briefcase-sharp"></ion-icon>
    </a>
  </div>
</ion-content>