@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

* {
    
    font-family: 'Poppins', sans-serif;
}
.titulo{
    text-align: center;
    position: relative;
    top: 4%;
}

ion-icon{
    width: 100px;
    height: 40px;
    position: relative;
    right: 22px;
    bottom: 18px;


}

a{
    color: black;
}